.h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
}

.section {
    padding: 0 15%;
    width: 100%;
    display: flex;
    margin-bottom: 80px;
    flex-direction: column;
    gap: 30px;
}

.ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.li {
    padding: 27px 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    width: 48%;
    height: 183px;
    margin-bottom: 15px;
}

.li img {
    position: absolute;
    top: 16px;
    right: 21px;
}

.li h3 {
    color: #FFF;
    font-size: 22px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
}

.li p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
    font-family: "Inter", sans-serif;
}

.li span {
    color: #6880FF;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px; 
    font-family: "Inter", sans-serif;
    cursor: pointer;
}