
.section {
    padding: 0 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.bannerDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.username {
    color: #6880FF;
    font-family: "Poppins", sans-serif !important;
    font-size: 15px;
    font-weight: 400;
}

.bannerH1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    width: 70%;
}

.userinfos {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
    font-family: "Inter", sans-serif;
}

.img {
    width: 50%;
}

